In [35]:
import pandas as pd

In [36]:
fatec_operacao = pd.read_excel("../dados/alterados/fatec_opr.xlsx")
modalidade = pd.read_excel("../dados/principais/STG_MDL.xlsx")

In [37]:
modalidade

,ID_STG_MDL,COD_MDL,DES_MDL,DAT_INC_DBO
0,17,E02,ADIANTAMENTO DEPOSITANTE,2019-12-19 13:37:34.759
1,13,B99,OUTROS FINANCIAMENTOS,2019-12-19 13:37:34.759
2,15,D01,CARTAO DE CREDITO,2019-12-19 13:37:34.759
3,19,G01,TITULOS DESCONTADOS,2019-12-19 13:37:34.759
4,2,A02,EMPRESTIMO - CAPITAL DE GIRO,2019-12-19 13:37:34.759
5,3,A04,EMPRESTIMO - CREDITO PESSOAL,2019-12-19 13:37:34.759
6,16,E01,CHEQUE ESPECIAL E CONTA GARANTIDA,2019-12-19 13:37:34.759
7,8,B03,FINANCIAMENTO - IMOBILIARIOS SFH,2019-12-19 13:37:34.759
8,7,B02,FINANCIAMENTO - IMPORTACAO E EXPORTACAO,2019-12-19 13:37:34.759
9,4,A05,EMPRESTIMO - MICROCREDITO,2019-12-19 13:37:34.759
10,9,B04,FINANCIAMENTO - MICROCREDITO,2019-12-19 13:37:34.759
11,12,B07,FINANCIAMENTO - ARREENDAMENTO,2019-12-19 13:37:34.759
12,18,F01,AVAIS E FIANCASA HONRADOS,2019-12-19 13:37:34.759
13,11,B06,FINANCIAMENTO - IMOBILIARIO (OUTROS),2019-12-19 13:37:34.759
14,14,C01,CONSORCIO,2019-12-19 13:37:34.759
15,1,A01,EMPRESTIMO - CONSIGNADO,2019-12-19 13:37:34.759
16,10,B05,FINANCIAMENTO - AQUISICAO DE BENS (VEICULOS),2019-12-19 13:37:34.759
17,5,A99,OUTROS EMPRESTIMOS,2019-12-19 13:37:34.759
18,6,B01,FINANCIAMENTO - RURAL E AGROINDUSTRIAL,2019-12-19 13:37:34.759

In [38]:
operacao

,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
0,0f503289-dfb,87308050371,F,52,20112023,NULL,259741.1685,28511582.7,25e351cc-ec4e-4a47-861e-834f2aa1dc13,14,C01,422
1,683ea107-f2e,54355614187,F,36,06112022,140141.5236,NULL,NULL,a1f18524-8a4f-40a5-ba31-6fbff83bfd58,10,B05,422
2,d8e48899-58d,92265948819,F,NULL,NULL,NULL,0.0000,NULL,63149b03-b3bd-41e3-9b33-86661155bbaf,15,D01,422
3,5909262c-526,104455393515,F,82,20112019,NULL,1520.5905,27626512.71,40367466-b381-4452-add6-641eafb6b1be,14,C01,422
4,a2baadcc-95a,8642684152,F,65,15042020,NULL,8093.7615,26287450.65,3e99353c-df9a-4164-831d-84fff45cefdf,14,C01,422
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,11bd0eb8-546,213603194469,F,NULL,NULL,NULL,2115.0240,NULL,e6c5bd30-c23a-4134-b733-c3546e9981bb,15,D01,14
2996,38634b0a-897,252169585344,F,60,25112018,145296.1440,NULL,NULL,2274cb1f-602b-4761-bea5-2ef420154a90,10,B05,14
2997,cebe727e-8b5,247391528715,F,84,10092026,NULL,187834.5642,20333074.29,5da63c6a-28be-48e4-8a4a-f71bce8a4a53,14,C01,14
2998,e6965bba-e4a,249677066973,F,47,10122021,NULL,48979.6941,30874638.3,adbd7ce7-c890-4f12-a581-7c64db1af242,14,C01,14
2999,a5d43fa5-536,258481778859,F,36,30042021,74816.1801,NULL,NULL,8340c27b-499e-4147-9d29-7268db9bd3bc,10,B05,14

In [39]:
lista_modalidade = list(modalidade["COD_MDL"])

In [40]:
lista_modalidade

['E02',
 'B99',
 'D01',
 'G01',
 'A02',
 'A04',
 'E01',
 'B03',
 'B02',
 'A05',
 'B04',
 'B07',
 'F01',
 'B06',
 'C01',
 'A01',
 'B05',
 'A99',
 'B01']

In [59]:
def consistencia_opr(fonte):
    campos_inconsistentes = fatec_operacao.query(f"cod_mdl not in {lista_modalidade}")['cod_mdl'].count()
    return 100 - ((campos_inconsistentes / fatec_operacao.shape[0]) * 100)


def consistencia_modalidade_operacao():
    indice_fontes = set(list(int(float(str(i).strip())) for i in list(fatec_operacao['id_fnt'])))
    matriz_consistencia = list()
    for fonte in indice_fontes:
        porcentagem = consistencia_opr(fonte)
        matriz_consistencia.append([porcentagem, fonte])
    matriz_consistencia.sort(reverse=True)
    return matriz_consistencia

In [60]:
consistencia_modalidade_operacao()

[[0.0, 822], [0.0, 583], [0.0, 422], [0.0, 291], [0.0, 109], [0.0, 14]]